@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
:root{
--fuente:Fredoka;
}
body{
  margin: 0;
}
html{
  font-size: 14px;
  font-family: var(--fuente);
  box-sizing: border-box;

}

*,*::after,*::before{
 
 
}

h1,h2,h3.h4.h5.h6{
  margin: 0;
}

